---
import Banner from "@/components/Banner.astro";
import Info from "@/components/Info.astro";
import Layout from "../layouts/Layout.astro";
import ReasonsWhy from "@/components/ReasonsWhy.tsx";
import Depoiments from "@/components/Depoiments.tsx";

import "@/styles/globals.css";
import Partners from "@/components/Partners";
---

<Layout>
  <Banner />
  <span>municípos com quem cocriamos</span>
  <Info />
  <ReasonsWhy client:only />
  <Partners client:only />
  <Depoiments client:only />
</Layout>
