---
import Banner from '@/components/Banner.astro';
import Info from '@/components/Info.astro';
import Layout from '../layouts/Layout.astro';
import ReasonsWhy from '@/components/ReasonsWhy.tsx';
import Depoiments from '@/components/Depoiments.tsx';
---

<Layout>
	<Banner />
	<span>municípos com quem cocriamos</span>
	<Info />
	<ReasonsWhy />
	<span>municípos com quem cocriamos</span>
	<Depoiments	/>
</Layout>
