---
export interface ButtonProps {
  route: string;
  title: string;
}

const { route, title } = Astro.props;
---

<button class="rounded-[4px] bg-[#17427b] py-3 px-4 text-white font-bold text-nowrap hover:bg-[#163761] transition-all">
  <a href={route} target="_blank">{title}</a>
</button>