---
export interface ButtonProps {
  route: string;
  title: string;
}

const { route, title } = Astro.props;
---

<button class="rounded-[4px] bg-blue-700 py-3 px-4 text-white font-bold text-nowrap hover:bg-blue-800 transition-all">
    <a href={route}>{title}</a>
</button>