---
import HeaderButton from "./HeaderButton.tsx";
import suas_info from "../assets/suas_info.png?url";
import { XIcon } from "lucide-react";

function closeMenu() {
  const menu = document.querySelector('.menu')?.classList.remove('active');
}
---

<header class="container flex justify-between py-10 items-center w-full mx-auto">
  <img src={suas_info} alt="Logo do Suas Info" class="border-b border-black" />

  <nav class="links flex items-center gap-16 desktop">
    <ul class="flex items-center justify-around gap-20">
      <li><a href="#banner" id="banner">Home</a></li>
      <li><a href="#solucoes" id="info">Soluções</a></li>
      <li><a href="#parceiros" id="partners2">Municípios</a></li>
      <li><a href="#sobre" id="vfsoft">Sobre</a></li>
      <li><a href="#contato" id="contact">Contato</a></li>
      <li>
        <HeaderButton title="VAMOS CONVERSAR" client:only />
      </li>
    </ul>
  </nav>
  <button class="hamburger" onclick="toggleMenu()">☰</button>
  <nav class="menu absolute bg-white/90 top-0 w-screen h-screen flex justify-center">
    <XIcon className="close absolute top-10 right-5 font-extrabold" onClick={closeMenu} />
    <ul class="flex flex-col items-center justify-center gap-20 p-10">
      <li><a href="#banner" id="banner">Home</a></li>
      <li><a href="#solucoes" id="info">Soluções</a></li>
      <li><a href="#parceiros" id="partners2">Municípios</a></li>
      <li><a href="#sobre" id="vfsoft">Sobre</a></li>
      <li><a href="#contato" id="contact">Contato</a></li>
      <li>
        <HeaderButton title="VAMOS CONVERSAR" client:only />
      </li>
    </ul>
  </nav>
</header>

<style>
  html {
    scroll-behavior: smooth;
  }
  li {
    padding: 1px 16px;
    border-radius: 5px;
    transition: all 0.2s;
    color: #3b3a3a;
  }
  li:nth-child(1),
  li:hover {
    background-color: #62934a;
    color: white;
  }
  .hamburger {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
  }
  .menu {
    display: none;
  }
  @media (max-width: 768px) {
    .menu.active {
      display: flex;
    }
    .hamburger {
      display: block;
    }
    .desktop {
      display: none;
    }
    ul {
      width: 100%;
    }

    li {
      border-bottom: 1px solid #3b3a3a;
      border-radius: 0;
      width: 100%;
      text-align: center;
      padding: 16px;
    }

    li:last-child {
      border-bottom: none;
    }
  }
</style>

<script>
  function toggleMenu() {
    const menu = document.querySelector('.menu');
    menu?.classList.toggle('active');
  }

  function closeMenu() {
    const menu = document.querySelector('.menu');
    menu?.classList.remove('active');
  }

  document.querySelector('.hamburger')?.addEventListener('click', toggleMenu);
  document.querySelector('.close')?.addEventListener('click', closeMenu);

  document.querySelectorAll('.menu a').forEach(link => {
    link.addEventListener('click', closeMenu);
  });
</script>
