---
import HeaderButton from "./HeaderButton.tsx";
---

<header class="container flex justify-between py-10 items-center w-3/4 m-auto">
  <img src="" alt="Logo do Suas Info" />

  <div class="links flex items-center gap-16">
    <ul class="flex items-center justify-around gap-20">
      <li><a href="">Home</a></li>
      <li><a href="">Soluções</a></li>
      <li><a href="">Municípios</a></li>
      <li><a href="">Sobre</a></li>
      <li><a href="">Contato</a></li>
    </ul>
    <HeaderButton title="VAMOS CONVERSAR" client:only />
  </div>
</header>

<style>
  li {
    padding: 1px 16px;
    border-radius: 5px;
    transition: all 0.2s;
  }
  li:nth-child(1),
  li:hover {
    background-color: green;
    color: white;
  }
</style>
